/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Lato', sans-serif;
    color: white;

}

/* COMMONS */
.container-flex{
    display: flex;
}
.container{
    width: 90%;
    margin: auto;
    padding: 20px 0;
}
/* END COMMONS */



/* HEADER */

header{
    width: 100%;
    height: 70px;
}

header > .container-flex{
    justify-content: flex-end;
}

.speaker-view,.expand-arrow{
    background-color: grey;
    border-radius:10px;
    padding: 5px 7px;
    margin: 7px 5px;
}

header .fa-th{
    font-size: 15px;
}

/* END HEADER */

/* MAIN */

main{
    width: 100%;
    height: calc(100vh - 140px);
    

    /* test */
    background-color:coral;
}

.container-items{
    width: calc( 100% / 7 );
    height: calc((100vh - 140px) / 7) ;

    background-image: url(../img/image.jpg);
    background-size: cover;
    /* test */
    background-color: cornsilk;
}

/* END MAIN */

/* FOOTER */

footer{
    width: 100%;
    height: 70px;

    /* test */
    background-color:burlywood
}
/* END FOOTER */